<!DOCTYPE html>
<html>
<head>
  <title>Layout Master</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <div class="container">
      <div class="zone green">
          <ul>
              <li><a href="">About</a></li>
              <li><a href="">Products</a></li>
              <li><a href="">Our Team</a></li>
              <li><a href="">Contacts</a></li>
          </ul>
      </div>
      <div class="jumbo zone red">Cover</div>
      <div class="zone blue">Project Grid
            <div class="pgrid">
                <div class='item'><img src="./project-start/img/data_storage_2_2.png" alt=""></div>
                <div class='item'><img src="./project-start/img/desktop_analytics_2.png" alt=""></div>
                <div class='item'><img src="./project-start/img/files_2.png" alt=""></div>
                <div class='item'><img src="./project-start/img/monitor_coding_2.png" alt=""></div>
                <div class='item'><img src="./project-start/img/monitor_settings_2.png" alt=""></div>
                <div class='item'><img src="./project-start/img/server_2_2.png" alt=""></div>
                <div class='item'><img src="./project-start/img/server_3.png" alt=""></div>
                <div class='item'><img src="./project-start/img/server_safe_2.png" alt=""></div>
            </div>
      </div>
      <div class="zone yellow">By Yazmin Melgoza</div>
  </div>
  
</body>
</html>
